# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

# turn off all lights an hour after sunrise
0 2 * * * /usr/local/bin/sunwait sun up +1:00:00 59.329N, 18.068E; /home/pi/tradfri-automation/turnoff 2>&1 | /usr/bin/logger -t turnoff

# turn on morning scene at 6:30
30 6 * * * /home/pi/tradfri-automation/scene morning 2>&1 | /usr/bin/logger -t scene

# turn on evening scene half an hour before sunset
0 13 * * * /usr/local/bin/sunwait sun down -0:30:00 59.329N, 18.068E; /home/pi/tradfri-automation/scene evening 2>&1 | /usr/bin/logger -t scene

# set night scene at 11pm
0 23 * * * /home/pi/tradfri-automation/scene night 2>&1 | /usr/bin/logger -t scene

